style
    include ../public/stylesheets/author.css
include layout
block content
    .author-page
        .author-content-box
            img.author-bg-img(src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=3381931127,2333198611&fm=27&gp=0.jpg", alt="")
            // 头部
            .author-box
                //- section.author-head
                //-     span 是现令啊
                // 作者信息区域    
                section.author-info
                    .con-top.clearfix
                        img.author-img(src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=1492039276,3695054609&fm=27&gp=0.jpg", alt="作者头像") 
                        .author-data   
                            .item
                                p.num 8888
                                p.name 粉丝
                            .item
                                p.num 77.7w
                                p.name 关注
                            .item
                                p.num 7.7w
                                p.name 获赞
                            a.open-app-btn(href="javascript:;") 打开APP关注我           
                    p.author-autograph.ellipsis-2   这是个性签名这是个性签名这是个性签名这是个性签名这是个性签名这是个性签名，没有不显示     
        section.author-works-box
            ul#js-author-works-ul.clearfix
                li.item
                    img.video-img.lazy-load(data-original="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2738078510,3278658201&fm=27&gp=0.jpg", alt="")
                    .video-info
                        p.author-name 
                            img.collection-img(src="/images/collection-small-icon.png", alt="", srcset="")
                            span 11.7w
                li.item
                    img.video-img.lazy-load(data-original="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2738078510,3278658201&fm=27&gp=0.jpg", alt="")
                    .video-info
                        p.author-name 
                            img.collection-img(src="/images/collection-small-icon.png", alt="", srcset="")
                            span 要回家看了
                li.item
                    img.video-img.lazy-load(data-original="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2738078510,3278658201&fm=27&gp=0.jpg", alt="")
                    .video-info
                        p.author-name 
                            img.collection-img(src="/images/collection-small-icon.png", alt="", srcset="")
                            span 要回家看了
                li.item
                    img.video-img.lazy-load(data-original="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=2738078510,3278658201&fm=27&gp=0.jpg", alt="")
                    .video-info
                        p.author-name 
                            img.collection-img(src="/images/collection-small-icon.png", alt="", srcset="")
                            span 要回家看了                                    
        // 底部默认提示语                                               
        include xsjPlaceholder          
                        



block script
    script(src='/javascripts/jquery.lazyload.js')
    script.
        $(document).ready(function() {
            $('img.lazy-load').lazyload({
                effect: 'fadeIn',   // 渐现，show(直接显示),fadeIn(淡入),slideDown(下拉)
                threshold: -20 // 预加载，在图片距离屏幕px时提前载入
            })
        })                            