doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/css/reset.css')
    block stylesheet
  body
    block content
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js')  
  script(src='/javascripts/jquery.lazyload.js')
  script(src='/javascripts/h5CallApp.js')
  script(src='/javascripts/index.js')
  block script