@charset "UTF-8";
/**
  * 一些共用的基础样式
  * 使用原则：
  * --不需要/不想起/样式名
  * --颜色，方便以后统一管理
  */
.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.ps-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.back-img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.author-page {
  position: relative; }

.author-page .author-bg-img {
  display: block;
  width: 100%;
  height: 14.0625rem;
  -webkit-filter: blur(5px);
  /* Chrome, Safari, Opera */
  filter: blur(5px); }

.author-page .author-content-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 14.0625rem; }

.author-page .author-content-box .author-head {
  width: 100%;
  height: 1.5625rem;
  line-height: 1.5625rem;
  font-size: 1.125rem;
  color: #fff;
  text-align: center; }

.author-page .author-content-box .author-info {
  margin-top: 1.90625rem; }

.author-page .author-content-box .author-info .con-top .author-img {
  float: left;
  width: 5rem;
  height: 5rem;
  margin-left: 1.3125rem;
  border-radius: 50%;
  border: 1px solid #ccc; }

.author-page .author-content-box .author-info .con-top .author-data {
  float: left;
  margin-left: 1.9375rem;
  color: #fff; }

.author-page .author-content-box .author-info .con-top .author-data .item {
  display: inline-block;
  width: 2.8125rem;
  margin-right: 2.1875rem;
  text-align: left; }

.author-page .author-content-box .author-info .con-top .author-data .item:nth-last-of-type(1) {
  margin-right: 0; }

.author-page .author-content-box .author-info .con-top .author-data .item .num {
  line-height: 1rem;
  font-size: 1rem; }

.author-page .author-content-box .author-info .con-top .author-data .item .name {
  margin-top: 0.21875rem;
  line-height: 0.875rem;
  font-size: 0.875rem; }

.author-page .author-content-box .author-info .con-top .author-data .open-app-btn {
  display: block;
  width: 10.625rem;
  height: 1.875rem;
  line-height: 1.875rem;
  margin-top: 1.0625rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  background: #FFDA44;
  border-radius: 0.25rem;
  color: #000000; }

.author-page .author-content-box .author-info .author-autograph {
  line-height: 1.1875rem;
  margin-top: 1.53125rem;
  padding: 0 1.125rem;
  text-align: left;
  font-size: 0.8125rem;
  color: #BBBBBB; }

.author-page .author-works-box {
  width: 100%;
  height: 100%;
  background: #1C1C1C; }

.author-page .author-works-box ul .item {
  position: relative;
  float: left;
  width: 7.75rem;
  height: 7.75rem;
  margin-right: 0.09375rem;
  margin-bottom: 0.09375rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(216, 216, 216, 0) 87%); }

.author-page .author-works-box ul .item:nth-of-type(3n+3) {
  margin-right: 0; }

.author-page .author-works-box ul .item .video-img {
  width: 100%;
  height: 100%; }

.author-page .author-works-box ul .item .video-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0.625rem;
  box-sizing: border-box;
  text-align: left;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(216, 216, 216, 0) 87%); }

.author-page .author-works-box ul .item .video-info .author-name {
  margin-bottom: 0.1875rem;
  color: #CECECE;
  line-height: 1.03125rem;
  color: #FFFFFF; }

.author-page .author-works-box ul .item .video-info .author-name .collection-img {
  display: inline-block;
  width: 0.625rem;
  height: 0.53125rem;
  vertical-align: middle; }

.author-page .author-works-box ul .item .video-info .author-name span {
  font-size: 0.75rem; }
