@charset "UTF-8";
/**
  * 一些共用的基础样式
  * 使用原则：
  * --不需要/不想起/样式名
  * --颜色，方便以后统一管理
  */
.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ps-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.back-img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.topInfo {
  list-style: none;
  font-size: 0.9375rem; }

.go-user-page {
  display: block;
  padding: 0.9375rem;
  color: #00B7FF;
  font-size: 0.9375rem;
  line-height: 1; }

.list-box {
  padding: 0.625rem;
  font-size: 0.6875rem;
  text-align: left;
  box-sizing: border-box; }

.list-box li {
  height: 1.125rem;
  line-height: 1.125rem;
  margin-top: 1.25rem; }
