@charset "UTF-8";
/**
  * 一些共用的基础样式
  * 使用原则：
  * --不需要/不想起/样式名
  * --颜色，方便以后统一管理
  */
.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.ps-center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

.back-img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.xsj-home-wrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  color: #fff; }

.xsj-home-wrap .video-outer-box {
  height: 33.4375rem; }

.xsj-home-wrap .video-outer-box .video-info {
  position: absolute;
  top: 12.5rem;
  left: 0;
  width: 100%;
  height: 18.75rem;
  background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 66%);
  z-index: 1; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info {
  position: absolute;
  top: 7.6875rem;
  right: 0.90625rem;
  z-index: 100; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info {
  width: 1.9375rem;
  margin-bottom: 1.25rem; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info p {
  width: 1.9375rem;
  height: 0.75rem;
  line-height: 0.75rem;
  margin-top: 0.21875rem;
  text-align: center;
  font-size: 0.75rem;
  color: #FFFFFF; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info img {
  width: 1.9375rem; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info .collection-img {
  height: 1.71875rem; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info .comment-img {
  height: 1.9375rem; }

.xsj-home-wrap .video-outer-box .video-info .right-video-info .item-info .share-img {
  height: 1.3125rem; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info {
  position: absolute;
  left: 0.875rem;
  top: 10.28125rem;
  width: 17.75rem;
  text-align: left; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info .author-header {
  display: flex;
  align-items: center;
  text-align: center; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info .author-header .author-img {
  width: 2.9375rem;
  height: 2.9375rem;
  border-radius: 50%;
  border: 1px solid #fff; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info .author-header .author-name {
  margin-left: 0.46875rem;
  font-size: 1.125rem;
  color: #fff; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info .author-header .follow-btn {
  margin-left: 0.09375rem;
  width: 2.59375rem;
  height: 1.15625rem;
  line-height: 1.15625rem;
  background: #FFDA44;
  border-radius: 1.84375rem;
  font-size: 0.6875rem; }

.xsj-home-wrap .video-outer-box .video-info .bottom-video-info .video-desc {
  font-size: 0.9375rem;
  margin-top: 0.78125rem;
  color: #FFFFFF;
  line-height: 1.375rem; }

.xsj-home-wrap .video-outer-box .video-replay-layer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; }

.xsj-home-wrap .video-outer-box .video-replay-layer .replay-btn {
  width: 10rem;
  height: 2.6875rem;
  line-height: 2.6875rem;
  margin: 9.375rem auto 2.125rem;
  border: 1px solid #FFDA44;
  border-radius: 0.25rem;
  color: #FFDA44;
  font-size: 0.9375rem; }

.xsj-home-wrap .video-outer-box .video-replay-layer .open-app-btn {
  width: 10rem;
  height: 2.6875rem;
  line-height: 2.6875rem;
  margin: 0 auto;
  background: #FFDA44;
  border: 1px solid #FFDA44;
  border-radius: 0.25rem;
  color: #000000;
  font-size: 0.9375rem; }

.xsj-home-wrap .video-outer-box .chimee-flex-component svg {
  height: 3.8em; }

.xsj-home-wrap .second-screen-box {
  width: 100%;
  background: #1C1C1C; }

.xsj-home-wrap .second-screen-box .author-hot-video .title {
  position: relative;
  width: 100%;
  height: 0.9375rem;
  line-height: 0.9375rem;
  padding: 1.375rem 0 0.9375rem 0;
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 100; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-box {
  overflow: hidden;
  width: 100%;
  height: 10rem; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-ul {
  width: 100%;
  height: 10.65625rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-ul li {
  position: relative;
  display: inline-block;
  width: 10.65625rem;
  height: 10.65625rem;
  margin-left: 0.0625rem; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-ul li:nth-of-type(1) {
  margin-left: 0; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-ul li .video-img {
  width: 100%;
  height: 100%; }

.xsj-home-wrap .second-screen-box .author-hot-video .hot-list-ul li .bf-btn {
  width: 2.5625rem;
  height: 2.5625rem; }

.xsj-home-wrap .second-screen-box .recommend-box .title {
  position: relative;
  height: 0.9375rem;
  line-height: 0.9375rem;
  padding: 1.375rem 0 0.9375rem 0;
  font-size: 0.9375rem;
  color: #fff;
  font-weight: 100; }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li {
  position: relative;
  float: left;
  width: 49.8%;
  height: 15.9375rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(216, 216, 216, 0) 87%); }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li:nth-of-type(2n+1) {
  float: right; }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li .video-img {
  width: 100%;
  height: 100%; }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li .video-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 0.625rem;
  box-sizing: border-box;
  text-align: left; }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li .video-info .video-name {
  font-size: 1rem;
  color: #FFFFFF;
  line-height: 1.1875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; }

.xsj-home-wrap .second-screen-box .recommend-box .recommend-list li .video-info .author-name {
  margin-top: 0.40625rem;
  margin-bottom: 0.71875rem;
  font-size: 0.75rem;
  color: #CECECE;
  line-height: 0.75rem; }
