@import './xsjbase.scss';
.placeholder-box {
    width: 100%;
    height: rpx(60);
    line-height: rpx(60);
    padding: rpx(102) 0;
    font-size: rpx(26);
    color: #565452;
    background: #1C1C1C;
}